# ESP-IDF
build/
sdkconfig
sdkconfig.old

# Visual Studio Code
.vscode/

# JetBrains
.idea/

# Windows
Thumbs.db
Desktop.ini

# Python
__pycache__/

# Serial monitor logs
*.log
dependencies.lock

managed_components/

managed_components/
