menu "Snapclient Mesh Project Configuration"

    config MESH_SOFTAP_SSID_PREFIX
        string "Mesh SoftAP SSID prefix"
        default "SnapMesh"
        help
            Praefix fuer die knoteneigenen SoftAP-SSIDs im Mesh.

    config MESH_SOFTAP_PASSWORD
        string "Mesh SoftAP password"
        default "criticalmass"
        help
            Passwort fuer die Inter-Node-SoftAP-Verbindungen (min. 8 Zeichen).
	config MESH_CHANNEL
		int "Mesh Wi-Fi channel"
		default 6
		range 1 13
		help
			Fester WLAN-Kanal des autarken Mesh-Netzes.
			Dieser Wert muss auf Root und allen Clients identisch sein.
			
    config SNAPSERVER_HOST
        string "Snapserver hostname/IP"
        default "192.168.1.10"
        help
            Adresse des Snapcast-Servers.

    config SNAPSERVER_PORT
        int "Snapserver port"
        default 1704
        help
            Snapcast-Stream-Port (Default 1704).

endmenu
